<mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequiredMarker">
    <mat-label> {{ label|translate}}</mat-label>

    <textarea style="color: black;"
              [mcOnlyNumber]="number"
              [formControl]="control"
              [type]="type"
              [value]="value"
              matInput
              [readonly]="readonly"
              [rows]="rows"
              [disabled]="disabled"
              [matTooltipDisabled]="!hasTooltip"
              [matTooltip]="control!.value!=undefined?control!.value:(label + (required(control!)?' * ':'')|translate)"
              (change)="onChange.emit($event)"
    ></textarea>

    <ng-content></ng-content>
    <mat-error [control]="control" appControlError></mat-error>
</mat-form-field>
