<app-private-layout-sidebar #privateLayoutSidebar [listMenus]="listMenus">
</app-private-layout-sidebar>

<app-private-layout-navbar class="no-print" (toggleSidebarEventEmitter)="onToggleSidebar()">
</app-private-layout-navbar>

<div class="nxl-container" (scroll)="checkIfGoToUpBtnIsDisplayed('content-container')">
  <div class="nxl-content">
    <div class="page-header">
      <mc-breadcrumb [isPrivateLayout]="true"></mc-breadcrumb>
    </div>
    <div class="main-content">
      <mc-outlet></mc-outlet>
    </div>
  </div>
</div>
