/* ===== BODY WRAPPER ===== */
.nxl-container.body-wrapper {
  transition: all 0.3s ease;
 /*  margin-top: 80px; */ /* hauteur du header */
}

/* ===== LTR ===== */
.nxl-container.body-wrapper.sidebar-open {
  margin-left: 280px; /* largeur sidebar */
}

.nxl-container.body-wrapper.sidebar-closed {
  margin-left: 0;
}

/* ===== RTL ===== */
:host([dir="rtl"]) .nxl-container.body-wrapper.sidebar-open {
  margin-right: 280px;
  margin-left: 0;
}

:host([dir="rtl"]) .nxl-container.body-wrapper.sidebar-closed {
  margin-right: 0;
  margin-left: 0;
}
