<!-- private.html -->
<div class="private-layout" [attr.dir]="currentDirection">

  <app-private-layout-sidebar
    #privateLayoutSidebar
    [listMenus]="listMenus"
    [isSidebarExpanded]="isSidebarOpen"
    [isSidebarShowing]="false"
    [attr.dir]="currentDirection">
  </app-private-layout-sidebar>

  <app-private-layout-navbar
    class="no-print"
    [(isSidebarOpen)]="isSidebarOpen"
    (languageChanged)="onLanguageChanged($event)"

    [attr.dir]="currentDirection">
  </app-private-layout-navbar>

  <div class="nxl-container body-wrapper" [attr.dir]="currentDirection">
    <div class="nxl-content">

      <div class="page-header">
        <mc-breadcrumb [isPrivateLayout]="true"></mc-breadcrumb>
      </div>

      <div class="main-content">
        <mc-outlet></mc-outlet>
      </div>

    </div>
  </div>

</div>
