<section class="body-wrapper">
  <app-private-layout-navbar class="no-print" (toggleSidebarEventEmitter)="onToggleSidebar()">
  </app-private-layout-navbar>
  <app-private-layout-sidebar #privateLayoutSidebar [listMenus]="listMenus">
    <div class="body-container">
      <div class="breadcrumb-wrapper no-print">
        <div class="breadcrumb-container">
          <!-- <mc-breadcrumb [isPrivateLayout]="true"></mc-breadcrumb> -->
        </div>
      </div>
      <div class="content-container" (scroll)="checkIfGoToUpBtnIsDisplayed('content-container')">
        <mc-outlet></mc-outlet>
      </div>
    </div>
  </app-private-layout-sidebar>

  <!-- <div class="content-container">
    <mc-outlet></mc-outlet>
  </div> -->
</section>
