<mat-sidenav-container #sidebarContainer class="mat-sidenav-container">
  <!-- ===== SIDEBAR ===== -->
  <mat-sidenav
    #sidebar
    [mode]="mode"
    [opened]="true"
    class="no-print sidebar"
    [ngClass]="{
      'sidebar-expanded': isSidebarOpen,
      'sidebar-collapsed': !isSidebarOpen,
      'bg-color': isSmallScreen,
      'bg-transparent': !isSmallScreen
    }"
  >
    <nav class="nxl-navigation">
      <div class="navbar-wrapper">
        <!-- Logo -->
        <div class="m-header">
          <a class="b-brand" routerLink="/">
            @if (isSidebarOpen) {
              <img src="assets/images/logo.png" height="33px" class="logo logo-lg" />
            } @else {
              <img src="assets/images/logo.png" class="logo logo-sm" />
            }
          </a>
        </div>

        <!-- Menus -->
        <div class="navbar-content">
          <app-spinner-container [isLoading]="onLoadingMenu" wrapperBackground="transparent">
           @if (!listMenus || !listMenus.length) {
              <p class="nxl-empty-menu">Liste des menus est actuellement vide !</p>
            } @else {
              <ul class="nxl-navbar">
               @if (!isSmallScreen) {
                  @if (CONFIG.PRIVATE_LAYOUT.sidebar.compact_menu || isSidebarOpen) {
                    <ng-container *ngTemplateOutlet="menuFixeTemp"></ng-container>
                  } @else {
                    <ng-container *ngTemplateOutlet="menuFlottantTemp"></ng-container>
                  }
                } @else {
                  <ng-container *ngTemplateOutlet="menuFixeTemp"></ng-container>
                }
              </ul>
            }
          </app-spinner-container>
        </div>
      </div>
    </nav>
  </mat-sidenav>

  <!-- ===== CONTENU PRINCIPAL ===== -->
  <mat-sidenav-content class="mat-sidenav-content-wrapper">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ===== Templates ===== -->
<ng-template #menuFixeTemp>
  <app-flat-menu-list
    [listMenus]="listMenus"
    [isSidebarExpanded]="isSidebarExpanded"
    [isSidebarShowing]="isSidebarShowing"
  ></app-flat-menu-list>
</ng-template>

<ng-template #menuFlottantTemp>
  <app-flot-menu-list
    [listMenus]="listMenus"
    [isSidebarExpanded]="isSidebarExpanded"
    [isSidebarShowing]="isSidebarShowing"
  ></app-flot-menu-list>
</ng-template>
