<mat-card
  [appearance]="'outlined'"
  [ngStyle]="metadata().styleList.card"
  [class]="metadata().classList.card"
>
  @if (hasHeader()) {
    <mat-card-header class="card-header">
      <div class="header-container">
        <div class="title-section">
          <span class="card-title">{{ metadata().title | translate }}</span>
        </div>

        <div class="actions-section" [class.is-mobile]="isSmallScreen()">
          <ng-content select="[headerActions]"></ng-content>

          @if (metadata().hasAdd) {
            <div class="st2i-add-btn pill-outline" role="button" (click)="onAddClicked.emit()">
              <mat-icon>add</mat-icon>
              <!-- <span>{{ general.add | translate }}</span> -->
            </div>
          }

          @if (metadata().hasDelete) {
            <mat-icon
              class="cursor-pointer"
              (click)="onDeleteAllClicked.emit()"
              [matTooltip]="metadata().cardTooltips.delete | translate"
              >delete_circle_outline</mat-icon
            >
          }

          @if (metadata().hasShow) {
            <mat-icon
              class="cursor-pointer"
              (click)="onShowClicked.emit()"
              [matTooltip]="metadata().cardTooltips.show | translate"
              >visibility</mat-icon
            >
          }

          <!-- @if (metadata().hasReplace) {
            <mat-icon
              class="cursor-pointer"
              (click)="onReplaceClicked.emit()"
              [matTooltip]="metadata().cardTooltips.replace | translate"
              >visibility</mat-icon
            >
          } -->

          @if (metadata().hasSave) {
            <mat-icon
              class="cursor-pointer"
              (click)="onSaveClicked.emit()"
              [matTooltip]="metadata().cardTooltips.validate | translate"
              >check_circle</mat-icon
            >
          }
          @if (metadata().hasExport) {
            <mc-datatable-export
              (onGenerateFile)="onGenerateFile.emit($event)"
            ></mc-datatable-export>
          }
          <!-- <div fxFlex="none" fxLayoutAlign="center" *ngIf="metadata().hasExport">
                    <st2i-datatable-export  (onGenerateFile)="onGenerateFile.emit($event)"></st2i-datatable-export>
                </div> -->

          @if (metadata().hasImport) {
            <mat-icon
              class="cursor-pointer"
              (click)="fileInput.click()"
              [matTooltip]="metadata().cardTooltips.import | translate"
              >get_app</mat-icon
            >
            <input
              #fileInput
              hidden
              type="file"
              (change)="onImportClickedfn($event)"
              [accept]="metadata().uploadType"
              [multiple]="metadata().isMultiple"
            />
          }

          @if (metadata().hasFilter) {
            <form [formGroup]="formRapidSearch" class="filter-form">
              <input
                formControlName="typedValue"
                [placeholder]="'general.filter' | translate"
                (keyup)="onFilterKeyUp.emit(formRapidSearch.get('typedValue')?.value)"
              />
            </form>
          }
        </div>
      </div>
    </mat-card-header>
  }

  <mat-card-content
    [class]="metadata().classList.cardContent"
    [ngStyle]="metadata().styleList.cardContent"
    style="overflow-x: auto; border-radius: 12px"
  >
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
