<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
    @for (column of metadata().columns; track column.key) {
      <ng-container [matColumnDef]="getColumnKey(column.key)">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style">
          <div [mat-sort-header]="getColumnKey(column.key)" [disabled]="column.sortable === false">
            {{ column.label | translate }}
          </div>

          @if (column.type === COMMON_TYPES_CODES.HAS_CHECKBOX && metadata().hasCheckAll) {
            <mat-checkbox (change)="onCheckAllChange($event.checked)"></mat-checkbox>
          }
        </th>

        <td mat-cell *matCellDef="let row; let i = index" [ngStyle]="column.style">
          @switch (column.type) {
            @case (COMMON_TYPES_CODES.HAS_CHECKBOX) {
              <mat-checkbox
                [checked]="row.checked"
                (change)="onCheckChange(row, $event.checked, i)"
              ></mat-checkbox>
            }

            @case (COMMON_TYPES_CODES.HAS_RADIO_BTN) {
              <mat-radio-button
                [checked]="row.checked"
                (change)="emitAction('onRadioToggle', row, i)"
              ></mat-radio-button>
            }

            @case (COMMON_TYPES_CODES.HAS_IMAGE) {
              <img
                [src]="row[getColumnKey(column.key)]"
                [width]="column.width"
                [height]="column.height"
              />
            }

            @case (COMMON_TYPES_CODES.ICON) {
              <div class="circle" [style.background-color]="getCircleColor(row, column)"></div>
            }

            @case ('actions') {
              <div class="actions-wrapper">
                @for (btn of column.btns; track btn.ref) {
                  @if (!row.btns || row.btns[btn.ref]?.display !== false) {
                    <button
                      mat-icon-button
                      (click)="onActionEventEmitter(btn.handler, row, i)"
                      [class]="btn.class"
                      [matTooltip]="btn.tooltip"
                    >
                      <mat-icon [style]="btn.style">{{ btn.name }}</mat-icon>
                    </button>
                  }
                }
              </div>
            }

            @default {
              {{ row[getColumnKey(column.key)] ?? '-' }}
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>
  <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPaginateChange($event)"
  >
  </mat-paginator>
  <ng-template #emptyValueTemp>-</ng-template>
  <ng-template #valueTemp let-row="row" let-column="column">
    <ng-container [ngSwitch]="column['type']">
      <ng-container *ngSwitchDefault>
        {{ row[getColumnKey(column['key'])] ?? '-' }}
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.TEXT_MULTILIGNE">
        <div *ngFor="let content of row[getColumnKey(column['key'])].split(column['sep'])">
          {{ row[getColumnKey(column['key'])] ?? '-' | translate }}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.PARAGRAPH">
        {{ row[getColumnKey(column['key'])] ?? '-' | truncate }}
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.MONTANT" style="text-align: end">
        {{ row[column['key']] | montant }}
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.MYDATE">
        {{ row[column['key']] | dfMY }}
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.DATE">
        <div class="dtClass">
          {{ row[column['key']] | df: getDateFormat(column['format']) }}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.DATETIME">
        <div class="dtClass">
          {{ row[column['key']] | dhf }}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.TIME">
        {{ row[column['key']] | mf }}
      </ng-container>
      <ng-container *ngSwitchCase="COMMON_TYPES_CODES.HOURS_TIME">
        <div class="dtClass">
          {{ row[column['key']] | hf }}
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
