<mat-form-field appearance="outline" class="my-custom-form-field" [dir]="currentDirection">
  <mat-label>{{ label | translate }}</mat-label>

  <!-- Prefix -->
  <mat-icon matPrefix *ngIf="prefix && isIconPrefix">
    {{ prefix }}
  </mat-icon>

  <!-- Input -->
  <input
    matInput
    [formControl]="control"
    [maxlength]="max"
    [type]="type"
    [readonly]="isDisabled"
    [placeholder]="placeholder | translate"
    (keyup)="emitTypedValue($event)"
    (blur)="onChange($event)"
    (focus)="onFocusEvent.emit($event)"
  />

  <!-- Suffix -->
  <button
    *ngIf="suffix && isIconSuffix"
    mat-icon-button
    matSuffix
    (click)="isSuffixClicked ? suffixClickedEvent.emit(true) : null"
  >
    <mat-icon>{{ suffix }}</mat-icon>
  </button>

  <!-- Error -->
  <mat-error *ngIf="control && control.invalid">
    {{ getErrorMessage() }}
  </mat-error>
</mat-form-field>
