.form-floating {
    width: 100%;
}

.form-floating input {
    height: 52px;
    border-radius: 8px;
}

.form-floating label {
    padding-left: 0.75rem;
}

.form-control.is-invalid {
    border-color: #dc3545;
}