<div class="form-floating mb-3 position-relative">
  <!-- Prefix icon -->
  <span
    *ngIf="prefix && isIconPrefix"
    class="position-absolute top-50 translate-middle-y ms-3 text-secondary"
  >
    <i class="bi bi-{{ prefix }}"></i>
  </span>

  <!-- Input -->
  <input
    class="form-control"
    [class.is-invalid]="control && control.invalid && (control.touched || control.dirty)"
    [maxlength]="max"
    [formControl]="control"
    [type]="type"
    [readonly]="isDisabled"
    [value]="value"
    [placeholder]="label | translate"
    autocomplete="off"
    (change)="format(control?.value)"
    (keyup)="emitTypedValue($event)"
    (blur)="onChange($event)"
    (focus)="onFocusEvent.emit($event)"
    [style.padding-left]="prefix ? '2.5rem' : null"
  />

  <!-- Floating label -->
  <label *ngIf="label">
    {{ label | translate }}
  </label>

  <!-- Suffix icon -->
  <span
    *ngIf="suffix && isIconSuffix"
    class="position-absolute top-50 translate-middle-y end-0 me-3 text-secondary"
    style="cursor: pointer"
    (click)="isSuffixClicked ? suffixClickedEvent.emit(true) : null"
  >
    <i class="bi bi-{{ suffix }}"></i>
  </span>
</div>

<!-- Error -->
<div
  class="invalid-feedback d-block"
  *ngIf="control && control.invalid && (control.touched || control.dirty)"
>
  {{ getErrorMessage() }}
</div>
