<!-- Version sans checkbox -->
<div *ngIf="!withcheckbox">
  <h1 mat-dialog-title>{{ title | translate }}</h1>

  <div mat-dialog-content>
    <div>{{ descriptionObjection }}</div>
    {{ description | translate }}
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close] (click)="respond(false)">
      {{ btn2Label | translate }}
    </button>
    <button
      *ngIf="showApprove == true"
      mat-raised-button
      [mat-dialog-close]
      (click)="respond(true)"
    >
      {{ btn1Label | translate }}
    </button>
  </div>
</div>

<!-- Version avec checkbox -->
<div *ngIf="withcheckbox">
  <h1 mat-dialog-title class="text-center">
    {{ title | translate }}
  </h1>

  <div mat-dialog-content>
    <div>{{ descriptionObjection }}</div>
    {{ description | translate }}
  </div>

  <div>
    <mat-checkbox #d>
      {{ labelchexbox | translate }}
    </mat-checkbox>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button
            class="annuler" [mat-dialog-close] (click)="respond(false)">
      {{ 'cancel' | translate }}
    </button>
    <button mat-raised-button
    class="approuve"
      [disabled]="!d.checked"
      [mat-dialog-close]
      (click)="respond(true)"
    >
      {{ 'general.approve' | translate }}
    </button>
    <button class="reset-btn mx-2" mat-flat-button>
      <span>{{ 'general.save' | translate }}</span>
    </button>
  </div>
</div>
