<div *ngIf="!withcheckbox">
  <h1 mat-dialog-title>{{ title | translate }}</h1>
  <div mat-dialog-content>
    <div style="color: red">{{ descriptionObjection }}</div>
    {{ description | translate }}
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close] (click)="respond(false)" class="annuler">
      {{ btn2Label | translate }}
    </button>
    <button
      *ngIf="showApprove == true"
      mat-raised-button
      class="approuve"
      [mat-dialog-close]
      (click)="respond(true)"
    >
      {{ btn1Label | translate }}
    </button>
  </div>
</div>
<div *ngIf="withcheckbox">
  <h1 mat-dialog-title class="text-center" style="font-size: 80% !important">
    {{ title | translate }}
  </h1>
  <div mat-dialog-content>
    <div style="color: red">{{ descriptionObjection }}</div>
    {{ description | translate }}
  </div>
  <div style="color: red">
    <mat-checkbox #d>
      {{ labelchexbox | translate }}
    </mat-checkbox>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close] (click)="respond(false)">
      {{ 'cancel' | translate }}
    </button>
    <button
      style="background-color: #0a4d6c !important"
      color="primary"
      mat-raised-button
      [disabled]="!d.checked"
      [mat-dialog-close]
      (click)="respond(true)"
    >
      {{ 'general.approve' | translate }}
    </button>
    <button color="primary" mat-flat-button>
      <span>{{ 'general.save' | translate }}</span>
    </button>
  </div>
</div>
