.wrapper {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(255, 255, 255, 0.82);*/
    z-index: 20000;

}

.spinner__container {
    background-color: rgba(191,116,177,0.21);
    border-radius: 10px;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    z-index: 20;
}
.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
